################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/PekVpnProxy/obj
/PekVpnProxy/bin/Debug/net9.0
/SharpTun/SharpTun/bin/Debug/net6.0
/SharpTun/SharpTun/obj
/SharpTun/SharpTunTest/bin/Debug/net6.0
/SharpTun/SharpTunTest/obj
/PekVpnProxy/Properties/PublishProfiles
